html{font-size:22px;font-family:sans-serif}
main{padding:1rem;background-color:#fff7cc}
button{border:1px solid rgba(0,0,0,0.1);font-size:.8em;font-family:inherit;padding:.2em 1em;text-align:center;color:#fff;background-color:#b3b3b3;border-radius:.2em}
